@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$violet-palette,
        tertiary: mat.$orange-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0));
}

:host {


  .active-list-item {
    color: #3F51B5 !important;
  }

  .app-sidenav {
    min-width: 200px;
    max-width: 100%;

  }

  .app-content {
    padding: 16px;
    min-height: 100vh;
    max-height: 100vh;
  }

  .pricing-options {
    display: flex;
    flex-flow: row wrap;
  }

  .pricing-options-card {
    text-align: center;
    vertical-align: middle;
    margin: 16px;
  }

  .pricing-options-card p {
    font-size: 16px;
  }

  .menu-icon-buttons-sidenav {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
}