
:host
{
    display: flex;
    justify-content: center;
    align-items: center;

    .counter-actions-btns
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }


}